.App {
  /* text-align: center; */
  border: 1px solid 3d3d3d;
  margin: 50px 30px;
  padding: 25px 15px;
}

.to-do-container{
  display: flex;
  flex-direction: column;
}

.to-do-container ul li{
  width: 170px;
  overflow-wrap: break-word;
  list-style-type: "➡️";
  cursor: pointer;
}

.done{
  text-decoration: line-through;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
